<h1>List of Things</h1>

<div class="row">
  <div class="col-md-6">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Count</th>
          <th>Style</th>
          <th colspan="5"></th>
        </tr>
      </thead>

      <tbody data-behavior="things-table">
        <%= render @things %>
      </tbody>
    </table>
    <div class="well">
      <h3>Ajax Json Things</h3>
      <ul data-behavior="json-thing-render-list"></ul>
      <%= button_tag "Thing Render", class: "btn btn-primary btn-xs", data: {behavior: "json-thing-render"} %>
      <%= button_tag "Thing Jbuilder", class: "btn btn-success btn-xs", data: {behavior: "json-thing-jbuilder"} %>
      <%= button_tag "Thing Collection", class: "btn btn-primary btn-xs", data: {behavior: "json-thing-collection"} %>
      <%= button_tag "Interval", class: "btn btn-info btn-xs", data: {behavior: "json-thing-interval"} %>
      <%= button_tag "Reset", class: "btn btn-danger btn-xs", data: {behavior: "json-thing-reset"} %>
    </div>
  </div>
</div>

<div class="row spacer-sm">
  <%= link_to 'New Thing', new_thing_path, remote: true, class: "btn btn-primary btn-lg", data: {behavior: "thing-new"} %>
  <div data-behavior="thing-form-location"></div>
  <%= link_to "Cancel", "#", class: "btn btn-warning btn-xs spacer-md", data: {behavior: "thing-new-cancel"}, style: "display: none" %>
</div>
