<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @thing.name %>
</p>

<p>
  <strong>Count:</strong>
  <span data-behavior="thing-counter"><%= @thing.count %></span>
</p>
<hr>
<%= link_to "Count Up", countup_thing_path(@thing), class: "btn btn-default btn-small", method: :patch, remote: true %>
<%= link_to "Count Down", countdown_thing_path(@thing), class: "btn btn-default btn-small", method: :patch, remote: true %>
<hr>
<%= link_to 'Edit', edit_thing_path(@thing), class: "btn btn-primary btn-small" %> |
<%= link_to 'Back', things_path, class: "btn btn-default btn-small" %>
